@use 'styles/constants/colors';
@use 'styles/constants/levels';
@use 'styles/mixins/flexbox';
@use 'styles/mixins/animation';

.dropMenu {
  position: absolute;
  top: 30px;
  left: -100px;
  z-index: 1000;
  width: 150px;
  background-color: colors.$GRAY0;
  border: 1px solid colors.$GRAY5;
  border-radius: 10px;
  animation: 150ms fadeIn;
}

.menu {
  width: 100%;
  height: 40px;
  cursor: pointer;

  &:hover {
    background-color: rgba(colors.$GRAY5, 50%);
  }
}

.addMenu:hover {
  background-color: colors.$GRAY0;
}

.addMenu {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.roundTop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.roundBottom {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.disabled {
  opacity: 0.2;

  &:hover {
    background-color: none;
  }
}

.highlightHover {
  &:hover {
    background-color: rgba(colors.$GRAY0, 50%);
  }
}

.itemWrapper {
  @include flexbox.horizontal(baseline, center);
  width: 100%;
  height: 100%;
}

.item {
  @include flexbox.horizontal(baseline, center);
  margin-left: 20px;

  .title {
    margin-left: 10px;
  }
}

.addItem {
  margin-left: 10px;
  cursor: pointer;

  .addIcon {
    border-radius: 5px;
    fill: colors.$GRAY3;
    transition: 150ms;
    transform: scale(50%);

    &:hover {
      fill: colors.$GRAY8;
      transform: scale(67%);
    }
  }

  .addTitle {
    margin-left: 5px;
    color: colors.$GRAY8;
    cursor: pointer;

    &::placeholder {
      color: colors.$GRAY3;
    }
  }
}

.largerWrapper {
  width: 240px;
  min-height: 60px;
  font-size: 16px;
  font-weight: 700;
}

.colorIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
