@use 'styles/constants/colors';
@import 'styles/global';

.appWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: colors.$GRAY2;

  .app {
    position: relative;
    width: 100%;
  }
}
