@use 'styles/constants/colors';

.lightMode {
  .iconOpen {
    fill: colors.$GRAY9 !important;
  }
}

.darkMode {
  .iconOpen {
    fill: colors.$GRAY0 !important;
  }
}

.category {
  position: relative;
  margin-right: 5px;
}

.expandToUp {
  -webkit-transform-origin-y: bottom;
  top: -350px;
}
