// Grayscale
$WHITE: #ffffff;
$GRAY0: #f8f9fa;
$GRAY1: #f1f3f5;
$GRAY2: #e9ecef;
$GRAY3: #dee2e6;
$GRAY4: #ced4da;
$GRAY5: #adb5bd;
$GRAY6: #868e96;
$GRAY7: #495057;
$GRAY8: #343a40;
$GRAY9: #212529;
$BLACK: #000000;

// Theme
// $PRIMARY: #9775fa;
// $PRIMARY_LIGHT: #b197fc;
// $FAVORITE: #ffd43b;

$PRIMARY_0: #f3f0ff;
$PRIMARY_1: #e5dbff;
$PRIMARY_2: #d0bfff;
$PRIMARY_3: #b197fc;
$PRIMARY_4: #9775fa;
$PRIMARY_5: #845ef7;
$PRIMARY_6: #7950f2;
$PRIMARY_7: #7048e8;
$PRIMARY_8: #6741d9;
$PRIMARY_9: #5f3dc4;
$PRIMARY: #5f3dc4;

$BG_DARK: #212429;
$BG_W: #ffffff;

$BG_DG: #f5f6f7;
$BG_G: #f6f7f8;

$GREY_50: #edeff1;
$GREY_100: #d1d8dc;
$GREY_300: #94a2ad;
$GREY_800: #3a474e;

$SECONDARY_01: #e5f4fd;
$SECONDARY_02: #ea3a4b;

$GRAPH_1: #4fadf7;
$GRAPH_2: #85da47;
$GRAPH_3: #ac8af8;

$ERROR: #f03e3e;

$SHADOW_BANNER: rgba(#000000, 4%);
