// Grayscale
$WHITE: #ffffff;
$GRAY0: #f8f9fa;
$GRAY1: #f1f3f5;
$GRAY2: #e9ecef;
$GRAY3: #dee2e6;
$GRAY4: #ced4da;
$GRAY5: #adb5bd;
$GRAY6: #868e96;
$GRAY7: #495057;
$GRAY8: #343a40;
$GRAY9: #212529;
$BLACK: #000000;

// Theme
$PRIMARY: #9775fa;
$PRIMARY_LIGHT: #b197fc;
$FAVORITE: #ffd43b;

$DARK_BG: #222429;
