@use 'styles/constants/colors';

.todoItem {
  width: 100%;
  height: 36px;
  padding: 0 15px;
  margin-top: 4px;
  line-height: 36px;
  border-radius: 8px;
  transition: 150ms;
  transform-origin: top;
  animation: grow 150ms;
  animation-fill-mode: both;

  @keyframes grow {
    from {
      height: 0;
    }
  }

  form {
    display: flex;
    align-items: center;

    .checkmark {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-right: 10px;
      cursor: pointer;
      border: 1px solid colors.$GRAY4;
      border-radius: 3px;
      transition: 100ms;

      .icon {
        opacity: 0;
        fill: colors.$GRAY4;
        transition: 100ms;
        transform: scale(80%);
        transform-origin: center left;
      }
    }

    .initial {
      animation-duration: 0;
    }

    input[type='checkbox']:checked + .checkmark {
      border: none;
      animation: setDone 150ms;
      animation-fill-mode: both;

      .icon {
        opacity: 1;
      }
    }

    input[type='checkbox']:not(:checked) + .checkmark {
      animation: unsetDone 150ms;
      animation-fill-mode: both;

      .icon {
        opacity: 1;
      }
    }

    .detail {
      display: flex;
      flex-direction: column;
      width: 100%;

      .title {
        padding: 0 10px;
        line-height: 36px;
        cursor: pointer;
        user-select: unset;
        border-radius: 3px;
        transition: 150ms;

        &::selection {
          all: unset;
        }
      }
    }

    .open {
      .title {
        cursor: auto;
      }
    }
  }
}

.selectedItem .checkmark {
  background-color: colors.$GRAY4;
}

.editor {
  min-height: 200px;
  padding: 16px;
  margin: 30px 0 25px;

  form {
    align-items: baseline;

    .checkmark {
      top: 4px;
    }

    .open {
      cursor: auto;

      textarea {
        all: unset;
        height: 75px;
        padding: 10px;
        margin: 5px 0 10px;
        overflow-y: scroll;
        line-height: 1;
        text-overflow: clip;
        border-radius: 3px;
        transition: 150ms;

        &:focus {
          padding-left: 0 10px;
        }
      }
    }
  }
}

@keyframes setDone {
  0% {
    background-color: transparent;
    transform: scale(1);
  }

  50% {
    background-color: colors.$GRAY6;
    transform: scale(1.4);
  }

  100% {
    background-color: colors.$GRAY6;
    transform: scale(1);
  }
}

@keyframes unsetDone {
  0% {
    background-color: colors.$GRAY6;
    transform: scale(1);
  }

  75% {
    transform: scale(1.25);
  }

  100% {
    background-color: transparent;
    transform: scale(1);
  }
}

.lightMode.selectedItem {
  background-color: rgba(colors.$GRAY9, 4%);
}

.darkMode.selectedItem {
  background-color: rgba(colors.$WHITE, 4%);
}

.lightMode.editor {
  background-color: rgba(colors.$GRAY9, 4%);
}

.darkMode.editor {
  background-color: rgba(colors.$WHITE, 4%);
}

.lightMode {
  .title {
    color: colors.$GRAY9;
  }

  .open {
    .title {
      &::selection {
        color: colors.$GRAY0;
        background-color: colors.$BG_DARK;
      }

      &:focus {
        background-color: rgba(colors.$WHITE, 80%);
      }

      &:not(:focus) {
        background-color: transparent;
      }
    }

    textarea:focus {
      background-color: rgba(colors.$WHITE, 80%);
    }
  }
}

.darkMode {
  .title {
    color: colors.$GRAY0;
  }

  .open {
    .title {
      color: colors.$GRAY0;

      &::selection {
        color: colors.$GRAY9;
        background-color: colors.$GRAY0;
      }

      &:focus {
        background-color: rgba(colors.$WHITE, 10%);
      }

      &:not(:focus) {
        background-color: transparent;
      }
    }

    textarea:focus {
      background-color: rgba(colors.$WHITE, 10%);
    }
  }
}
