@use 'styles/constants/colors';

.itemOptionBar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  height: 28px;

  .duration {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: colors.$GRAY5;
  }

  .buttons {
    position: relative;
    display: flex;

    svg {
      fill: colors.$GRAY5;
      transition: 100ms;
    }

    .leftDatePicker {
      left: 0;
      -ms-transform-origin-x: left;
      -webkit-transform-origin-x: left;
    }

    .rightDatePicker {
      right: 0;
      -ms-transform-origin-x: right;
      -webkit-transform-origin-x: right;
    }
  }
}

.darkMode svg:hover {
  fill: colors.$GRAY0;
}

.lightMode svg:hover {
  fill: colors.$GRAY9;
}
