@use 'styles/constants/colors';

.mainWrapper {
  display: flex;
  min-height: calc(100vh - 20px);

  main {
    position: relative;
    top: 80px;
    min-width: calc(100% - 280px);
    max-width: 100%;
    padding: 0 20px;
  }
}
