@use 'styles/constants/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: colors.$GRAY9;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 130px;
    border-radius: 10px;
  }

  form {
    .formRow {
      display: grid;
      // align-items: center;
      // justify-content: space-around;
      grid-template-columns: 1fr 3fr;
      align-items: center;

      label {
        margin-right: 30px;
        color: colors.$GRAY0;
        text-align: right;
      }

      input {
        width: 300px;
        height: 40px;
        padding: 0 10px;
        margin: 5px 0;
        color: colors.$GRAY0;
        border: 1px solid colors.$GRAY0;
        border-radius: 5px;

        &::selection {
          color: colors.$GRAY9;
          background-color: colors.$GRAY0;
        }
      }
    }

    .submitButtons {
      display: flex;
      display: flex;
      align-items: center;
      align-items: center;
      justify-content: center;
      margin-top: 55px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          margin: 0 10px;
          margin-right: 10px;
          fill: colors.$GRAY5;
          transition: 100ms;
          transform: scale(1.4);
        }

        span {
          font-size: 16px;
          color: colors.$GRAY5;
        }

        &:hover {
          svg {
            fill: colors.$GRAY0;
          }

          span {
            color: colors.$GRAY0;
          }
        }
      }
    }
  }
}
