@use 'styles/constants/colors';

.card {
  width: 90%;
  max-height: calc(100vh - 180px);
  padding: 20px 40px;
  margin: 40px 20px;
  overflow: scroll;
  background-color: colors.$WHITE;
  border: 1px solid colors.$GRAY5;
  border-radius: 30px;

  .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;

    .addIcon {
      cursor: pointer;
      border-radius: 5px;
      fill: colors.$GRAY9;
      transform: scale(50%);
      transform-origin: bottom;

      &:hover {
        background-color: colors.$GRAY1;
      }
    }
  }

  .todos {
    min-height: 30vh;
  }
}
