@use 'styles/constants/colors';

.card {
  width: 90%;
  max-height: calc(100vh - 180px);
  padding: 20px 40px;
  margin: 40px 20px;
  overflow: scroll;
  border-radius: 30px;
  // border: 1px solid colors.$GRAY5;

  .title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;

    .addIcon {
      cursor: pointer;
      border-radius: 5px;
      transform: scale(50%);
      transform-origin: bottom;
    }
  }

  .todos {
    min-height: 30vh;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.lightMode {
  color: colors.$GRAY9;
  background-color: colors.$WHITE;

  .addIcon {
    fill: colors.$GRAY9;

    &:hover {
      background-color: colors.$GRAY2;
    }
  }
}

.darkMode {
  color: colors.$GRAY0;
  background-color: colors.$GRAY9;

  .addIcon {
    fill: colors.$GRAY0;

    &:hover {
      background-color: colors.$GRAY7;
    }
  }
}
