@use 'styles/constants/colors';

.category {
  position: relative;
  margin-right: 5px;

  .iconOpen {
    fill: colors.$GRAY9 !important;
  }
}

.expandToUp {
  -webkit-transform-origin-y: bottom;
  top: -350px;
  background-color: violet;
}
