@use 'styles/constants/colors';

.datePicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 100ms;

  .cancelButton {
    display: flex;
    align-items: center;
    margin-right: 3px;
    opacity: 0;
    transition: 100ms;

    svg {
      fill: colors.$GRAY5;
      transform: scale(0.7);
    }
  }

  .pickerButton {
    .icon {
      margin-right: 5px;
      fill: colors.$GRAY5;
      transition: 100ms;

      &:hover {
        fill: colors.$GRAY9;
      }
    }

    .title {
      font-size: 14px;
      line-height: 14px;
      color: colors.$GRAY5;
      user-select: none;

      &::selection {
        color: inherit;
        background-color: transparent;
      }
    }
  }

  &:hover .cancelButton {
    opacity: 1;
  }
}

.lightMode {
  .title:hover {
    color: colors.$GRAY9;
  }

  .cancelButton svg:hover {
    fill: colors.$GRAY9;
  }

  .pickerButton {
    .titleOpen {
      color: colors.$GRAY9;
    }

    .iconOpen {
      fill: colors.$GRAY9;
    }
  }
}

.darkMode {
  .title:hover {
    color: colors.$GRAY9;
  }

  .cancelButton svg:hover {
    fill: colors.$GRAY0;
  }

  .pickerButton {
    .titleOpen {
      color: colors.$GRAY0;
    }

    .iconOpen {
      fill: colors.$GRAY0;
    }
  }
}
