@use 'styles/constants/colors';

.datePicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 100ms;

  .button {
    .icon {
      margin-right: 5px;
      fill: colors.$GRAY5;
      transition: 100ms;

      &:hover {
        fill: colors.$GRAY9;
      }
    }

    .iconOpen {
      fill: colors.$GRAY9;
    }

    .title {
      font-size: 14px;
      line-height: 14px;
      color: colors.$GRAY5;
      user-select: none;

      &::selection {
        color: inherit;
        background-color: transparent;
      }
    }

    .titleOpen {
      color: colors.$GRAY9;
    }
  }

  &:hover {
    .title {
      color: colors.$GRAY9;
    }
  }
}
