@use 'styles/constants/colors';

.datePicker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 100ms;

  .cancelButton {
    position: absolute;
    left: -13px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 100ms;

    svg {
      fill: colors.$GRAY5;
      transform: scale(0.7);
    }
  }

  .pickerButton {
    margin-left: 10px;

    svg {
      margin-right: 5px;
      fill: colors.$GRAY5;
      transition: 100ms;
    }

    .title {
      font-size: 14px;
      line-height: 14px;
      color: colors.$GRAY5;
      user-select: none;

      &::selection {
        color: inherit;
        background-color: transparent;
      }
    }
  }

  &:hover .cancelButton {
    animation: showLeft 150ms;
    animation-fill-mode: both;
  }

  @keyframes showLeft {
    from {
      left: 0;
      opacity: 0;
    }

    to {
      left: -13px;
      opacity: 1;
    }
  }
}

.lightMode {
  .title:hover {
    color: colors.$GRAY9;
  }

  .cancelButton svg:hover {
    fill: colors.$GRAY9;
  }

  .pickerButton {
    .titleOpen {
      color: colors.$GRAY9;
    }

    .iconOpen {
      fill: colors.$GRAY9;
    }

    svg:hover {
      fill: colors.$GRAY9;
    }
  }
}

.darkMode {
  .title:hover {
    color: colors.$GRAY0;
  }

  .cancelButton svg:hover {
    fill: colors.$GRAY0;
  }

  .pickerButton {
    .titleOpen {
      color: colors.$GRAY0;
    }

    .iconOpen {
      fill: colors.$GRAY0;
    }

    svg:hover {
      fill: colors.$GRAY0;
    }
  }
}
